

<% if(!username){ %>
<h2>Login</h2>
<form method="POST" action="/login">
  <input type="text" name="username">
  <button type="submit">Submit</button>
</form>


<% } else %>


<% { %>
  <h2><%= username %> </h2>
  <form method="POST" action="/logout">
    <button type="submit">Logout</button>
  </form>

<% } %>













