
<a href="/login">Login</a>
<a href="/register">Register</a>


<% if(typeof(user) !== "undefined" && user){ %>
  <h2><%= user['email']%> </h2>
  <form method="POST" action="/logout">
    <button type="submit">Logout</button>
  </form>

<% } %>








