<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <% include ./partials/_header.ejs %>
  <ul>
     <% for(var element of filteredDatabase){ %>
    <li>Shortened Form: <strong> <%= element.shortURL %> </strong></li>
     <li>Full URL: <strong> <%= element.longURL %> </strong></li>
    <a href="/urls/<%= element.shortURL %> ">Edit</a>
    <form method="POST" action="/urls/<%= element.shortURL %>/delete">
    <button type="submit" > Delete URL</button>
    </form>

  </ul>
<% } %>




<a href="/urls/new">Create a New Short Link</a>
</body>
</html>